{% extends "base.html" %}

{% block title %}<title>Django study - {{ title }}</title>{% endblock %}

{% block content %} 
    <!-- MAIN -->
    <main role="main">
      <!-- Content -->
      <article>
        <header class="section background-primary text-center">
            <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">Local Library</h1>
        </header>
        <div class="section background-white"> 
          <div class="line">
            <div class="margin text-center">
              <div class="s-12 m-12 l-6 margin-bottom">
                <div class="padding-2x block-bordered border-radius">
                  <i class="icon-paperplane_ico icon2x text-primary margin-bottom-30"></i>
                  <h2 class="text-thin">Books</h2>
                  <p class="margin-bottom-30"> </p>
                  <a class="button border-radius background-primary text-size-12 text-white text-strong" href="books">{{ num_books }}</a>
                </div>
              </div>
              <div class="s-12 m-12 l-6 margin-bottom">
                <div class="padding-2x block-bordered border-radius">
                  <i class="icon-attachment icon2x text-primary margin-bottom-30"></i>
                  <h2 class="text-thin">Authors</h2>
                  <p class="margin-bottom-30"> </p>
                  <a class="button border-radius background-primary text-size-12 text-white text-strong" href="authors">{{ num_authors }}</a>
                </div>
              </div>
              <div class="s-12 m-12 l-6 margin-bottom">
                <div class="padding-2x block-bordered border-radius">
                  <i class="icon-display_screen icon2x text-primary margin-bottom-30"></i>
                  <h2 class="text-thin">Copies</h2>
                  <p class="margin-bottom-30"></p>
                  <a class="button border-radius background-primary text-size-12 text-white text-strong" href="bookinstances">{{ num_instances }}</a>
                </div>
              </div>
              <div class="s-12 m-12 l-6 margin-bottom">
                <div class="padding-2x block-bordered border-radius">
                  <i class="icon-heart icon2x text-primary margin-bottom-30"></i>
                  <h2 class="text-thin">Copies Available</h2>
                  <p class="margin-bottom-30"> </p>
                  <a class="button border-radius background-primary text-size-12 text-white text-strong" href="bookinstances/available">{{ num_instances_available }}</a>
                </div>
              </div>
              <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
            </div>
          </div>
          
        </div> 
      </article>
    </main>
{% endblock %}