{% extends 'base.html' %}
{% load static %}


{% block content %}

<article>
    <header class="section background-primary text-center">
        <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">Form Test</h1>
    </header>
    <div class="section background-white"> 
      <div class="line">
        <h2 class="text-size-30">Form test 1 input and submit</h2>
        <div class="margin">
            <div class="s-12 m-12 l-6">
                
            </div>
            <div class="s-12 m-12 1-6">
                <form class="customform" action = "test" mothod="POST">
                    {% csrf_token %}
                    <label for = "team name" > Enter Name: </label>
                    <input id="team_name" type="text" name="name_field" value="Default name for team" >
                    <input type="submit" value="OK">
                </form>
            </div>
        </div> 
      </div>
    </div> 
  </article>


{% endblock %}
