{% extends "base.html" %}

{% block title %}<title>Django study - Author: {{ author }}</title>{% endblock %}

{% block content %} 
    <!-- MAIN -->
    <main role="main">
      <!-- Content -->
      <article>
        <header class="section-small-padding background-primary text-center">
            <h1 class="text-white margin-bottom-0 text-size-30 text-thin text-line-height-1">Author: {{ author }}</h1>
            <p>{{ author.date_of_birth }} ~ {{ author.date_of_death }}</p>
        </header>
        <div class="section background-white"> 
          <div class="line">
            <div style="margin-left:20px;margin-top:20px">
              <h2>Books</h2>
              {% for book in author.book_set.all %}
              <div class="s-12 m-12 l-4 margin-bottom">
                <div class="padding-2x block-bordered border-radius">
                  <i class="icon-sli-book-open icon2x text-primary margin-bottom-30"></i>
                  <h2 class="text-thin">{{ book.title }} ( {{ book.bookinstance_set.all.count }} )</h2>
                  <p class="margin-bottom-30">{{ book.summary }}</p>
                  <a class="button border-radius background-primary text-size-12 text-white text-strong" href="{{ book.get_absolute_url }}">More</a>
                </div>
              </div>              
              {% endfor %}
            </div>
          </div>
        </div> 
      </article>
    </main>
{% endblock %}




