{% extends "base.html" %}

{% block title %}<title>Django study - {{ title }}</title>{% endblock %}

{% block content %} 
    <!-- MAIN -->
    <main role="main">
      <!-- Content -->
      <article>
        <header class="section background-primary text-center">
            <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">Local Library</h1>
        </header>
        <div class="section background-white"> 
          <div class="line">
            <h1>Book List</h1>
            {% if books %}
            <ul>
              {% for book in books %}
                <li>
                  <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
                </li>
              {% endfor %}
            </ul>
            {% else %}
              <p>There are no books in the library.</p>
            {% endif %}
          </div>
        </div> 
      </article>
    </main>
{% endblock %}